body{
    /* font-family: sans-serif; */
    background: rgb(255, 255, 255);
    color: rgb(23, 30, 82);
    font-family: 'Nunito', sans-serif;

}
a {
  color: inherit; /* blue colors for links too */
  /* text-decoration: inherit; /* no underline */ */
}
